.main{
    margin-top: 10px;
}
body{
  background-color: beige;
  font-style: italic;
  margin: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.logo2-img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;      /* 裁剪填满，不变形 */
}

.self-information{
    border: 4px rgb(184, 68, 68) solid;
    padding: 20px;
    margin-top: 10px;
}
.search-input{
    display: block;
    margin-top: 10px;
    width: 400px;
   line-height: 24px;
    margin: 10px auto;
    border-radius: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}
.navigation{
    display: flex;
   justify-content: center;
}
.input-button button{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: bold;
   width: 70px;
   height: 50px;
   margin-top: 10px;
   border: 1px dotted navy;
   border-radius: 4px;
   background-color: azure;
}
.money-button button{
    width: 70px;
    height: 50px;
    border: 2px solid yellow;
    background-color: bisque;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
    margin-top: 10px;
    margin-left: 3pxn;
    pointer-events: painted;
}
.number-box{
    margin: 5px auto;
    border: 3px solid palevioletred;
    width: 70%;
    height: 60%;
    background-color: aliceblue;
    text-align: center;
}